.user-info {
  padding-top: 2rem;
}

.user-info__avatar {
  width: 64px;
  position: absolute;
  margin-top: 1rem;
}

.user-info__circle {
  width: calc(32px * 3);
  height: calc(32px * 3);
  background-color: #e7e7e9;
  border-radius: 50%;
}
