@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deimos-orange: #ff845e;
  --deimos-blue: #000f26;
  --deimos-green: #5bdd78;
  --deimos-grey: #dddada;
}

.deimos-bg-orange {
  background-color: var(--deimos-orange);
}
.deimos-bg-blue {
  background-color: var(--deimos-blue);
}
.deimos-bg-green {
  background-color: var(--deimos-green);
}
.deimos-bg-grey {
  background-color: var(--deimos-grey);
}

.deimos-border-orange {
  border-color: var(--deimos-orange);
}
.deimos-border-blue {
  border-color: var(--deimos-blue);
}
.deimos-border-green {
  border-color: var(--deimos-green);
}

body {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacer {
  flex: 1;
}
